
  <div id="tables" class="clearfix">
    <div id="table-filter">
      <input type="search" name="filter" autosave="searchdoc" autocomplete="off" placeholder="Filter" id="filter" />
    </div>
    <ul class="clearfix">
      <% @tables.each do |table| %>
        <li><a href="#<%= table[0] %>"><%= table[0] %></a></li>
      <% end %>
    </ul>
  </div>

  <div id="query" class="clearfix">
    <form action="/query" method="get">
      <div class="inputs">
        <textarea name="sql" id="sql"></textarea>
      </div>
      <div class="submit">
        <img src="/images/ajax-loader.gif" width="16" height="16" style="display: none;" class="ajax-loader">
        <input type="submit" value="Query" />
      </div>
      <div class="message-box"></div>
    </form>
  </div>

  <div id="results">
  </div>

