
  <div id="tables" class="clearfix">
    <div id="table-filter">
      <input type="search" name="filter" autosave="searchdoc" autocomplete="off" placeholder="Filter" id="filter" />
    </div>
    <ul class="clearfix">
      <% @tables.each do |table| %>
        <li><a href="#<%= table[1] %>"><%= table[1] %></a></li>
      <% end %>
    </ul>
  </div>

  <div id="query" class="clearfix">
    <form action="/query" method="get">
      <textarea name="sql" id="sql"></textarea>

      <div class="submit">
        <input type="submit" value="Query" />
      </div>
    </form>
  </div>

  <div id="results">
  </div>
