/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}


body {
  font-family: "Lucida Grande";
  font-size: 12px;
  line-height: 18px;
}

#content {
    width: 960px;
    margin: 20px auto;
}

#results {
    overflow-x: auto;
}

/* Query Box
 **********************/

#query {
  float: left;
  width: 550px;
}

#query textarea {
  width: 100%;
  height: 150px;

  font-size: 14px;
  font-family: "Bitstream Vera Sans Mono";
}

#query button {
  float: right;
}
#query input[type=submit] {
    float: right;
}

/* Tables
 *********************/

#tables {
  width: 400px;
  height: 170px;
  float: left;
}

#tables ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  height: 150px;
}

#tables ul li {
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}
#tables ul li:hover {
  background-color: #aaa;
}

/* Results
 *********************/
#results {
  clear: both;
}

#results table {
  font-size: 13px;
  font-family: "Bitstream Vera Sans";
}
    #results th, #results td {
        padding: 5px 10px;
    }
    #results th {
        text-align: left;
        font-size: 10px;
        font-family: "Lucida Grande";
    }

    #results td {
      vertical-align: top;
      border: 1px solid #BBB;
    }

    #results thead tr {
      border: 1px solid #bbb;
    }

    #results tbody tr:nth-child(odd) {
      background-color: #e8e8e8;
    }

    #results td.type_datetime,
    #results td.type_var_string,
    #results td.type_char,
    #results td.type_date {
      white-space: nowrap;
    }

    #results td.selected {
      background-color: #333;
      color: #FFF;
      border-color: #000;
    }
