/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}

html { height: 100%; }
body {
  font-family: "Lucida Grande";
  font-size: 12px;
  line-height: 18px;
  height: 100%;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
}

a:active {
  color: #000;
}

#content {
  width: 100%;
  min-height: 100%;
  position: relative;
}

/* Query Box
 **********************/

#query {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 195px;
  height: 125px;
  background-color: #d8d8d8;
  border-bottom: 1px solid #BBB;
}

#query textarea {
  height: 100px;
  padding: 5px;
  font-size: 11px;
  font-family: "Bitstream Vera Sans Mono";
  resize: none;
}

/* Tables
 *********************/

#tables {
  width: 192px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e8e8e8;
  border-right: 2px solid #222;
  height: 100%;
  z-index: 10;
}

#tables ul {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
  height: 100%;
  font-family: "Bitstream Vera Sans Mono";
  font-size: 12px;
  overflow-y: auto;
}

#tables ul li {
  margin: 0;
}

#tables li a {
  display: block;
  padding: 5px 10px;
}

#tables ul li:hover {
  background-color: #aaa;
}

#tables li.selected {
  background-color: #d8d8d8;
}

#tables input[type=search] {
  width: 99%;
}

/* Results
 *********************/
#results {
  margin-top: 125px;
  margin-left: 192px;
  float: left;
  min-width: 768px;
  height: 100%;
}

#results table {
  width: 100%;
  font-size: 11px;
  font-family: "Bitstream Vera Sans";
}
    #results th, #results td {
        padding: 5px 10px;
    }
    #results th {
        text-align: left;
        font-size: 10px;
        font-family: "Lucida Grande";
    }

    #results td {
      vertical-align: top;
      border: 1px solid #BBB;
    }

    #results thead tr {
      border: 1px solid #bbb;
    }

    #results tbody tr:nth-child(odd) {
      background-color: #e8e8e8;
    }

    #results td.selected {
      background-color: #BBB;
      border-color: #BBB;
    }

    #results td.datetime {
      white-space: nowrap;
    }

    #results td.string {
      white-space: nowrap;
    }

    #results td.text {
      width: 300px;
    }
