/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}

html { height: 100%; }
body {
  font-family: "Lucida Grande";
  font-size: 12px;
  line-height: 18px;
  height: 100%;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #000;
  text-decoration: none;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	border: 1px solid;
	border-color: #ddd #bbb #999;
	cursor: pointer;
	color: #333;
  font-weight: bold;
  font-size: 11px;
  line-height: 18px
	outline: 0;
	overflow: visible;
	padding: 3px 10px 4px;
	text-shadow: #fff 0 1px 1px;
  text-decoration: none;
	width: auto;
  margin: 0;
  height: 26px;
}

button:hover,
input[type="submit"]:hover {
	background: -webkit-gradient(linear, left top, left bottom,color-stop(0, #AAA),  color-stop(1, #fff) );
	background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
}

#content {
  width: 100%;
  min-height: 100%;
  position: relative;
}


/* Header
 **********************/

#header {
  position: fixed;
  top: 0;
  height: 30px;
  background-color: #222;
  color: #FFF;
  width: 100%;
}

/* Query Box
 **********************/

#query {
  position: fixed;
  top: 0px;
  left: 193px;
  /* width: 100%; */
  height: 125px;
  background-color: #d8d8d8;
  border-bottom: 1px solid #a3a3a3;
}

#query .message-box {
  /* padding-right: 200px; */
}

#query textarea {
  margin:0;
  height: 100px;
  padding: 5px;
  font-size: 11px;
  font-family: "Bitstream Vera Sans Mono";
  resize: none;
  border: none;
  width: 100%;
}

#query .submit {
    float: right;
}
#query .submit input,
#query .submit button {
  /* float: left; */
  /* border-right: none; */
}

#query .submit input {
  /* border-left: none; */
}

#query .submit button:last-child {
  /* border-right: 1px solid #BBB; */
}

#query .ajax-loader {
  float: left;
  margin-top: 4px;
  margin-right: 5px;
}

#query .message-box p {
  margin: 0;
  padding: 4px 5px;
}

/* Tables
 *********************/

#tables {
  width: 192px;
  position: fixed;
  top: 0px;
  left: 0;
  border-right: 1px solid #a3a3a3;
  z-index: 10;
  background-color: #dee4ea;
}

#tables ul {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
  height: 100%;
  font-size: 11px;

  overflow-y: auto;
}

#tables ul li {
  margin: 0;
  color: #333;
}

#tables li a {
  display: block;
  padding: 2px 10px;
  color: inherit;
}

#tables li.selected {
  background-color: #0f5fdb;
  color: #FFF;
  font-weight: bold;
}

#table-filter {
  padding: 2px;
  background-color: #dee4ea;
  border-bottom: 1px solid #a3a3a3;
}

#table-filter input {
  width: 100%;
}

#tables #footer {
  width: 192px;
  background-color: #333;
  color: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Results
 *********************/
#results {
  margin-top: 125px;
  margin-left: 192px;
  float: left;
  min-width: 768px;
  overflow: auto;
}

#results table {
  width: 100%;
  font-size: 11px;
  border-bottom: 1px solid #BBB;
  margin-bottom: 0;
  color: #000;
}
    #results th, #results td {
        padding: 5px 10px;
    }
    #results th {
        text-align: left;
        font-size: 10px;
        font-family: "Lucida Grande";
        border-right: 1px solid #bBB;
    }

    #results td {
      vertical-align: top;
      border-right: 1px solid #BBB;
    }

    #results td:last-child,
    #results th:last-child {
      border-right: none;
    }

    #results thead tr {
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
    }

    #results tbody tr:nth-child(even) {
      background-color: #E8E8E8;
    }

    #results tbody tr:hover {
      background-color: #e4e9ee;
    }

    #results tbody tr.selected {
      background-color: #5884ec;
      color: #FFF;
    }

    #results tbody tr.selected td {
      border-color: #0f5fdb;
    }

    #results tbody td.selected {
      background-color: #0f5fdb;
      border-color: #0f5fdb;
      color: #FFF;
    }

    #results td.empty-set p {
      margin: 5px 0;
      font-style: italic;
      color: #999;
    }

    #results td.datetime,
    #results td.timestamp {
      white-space: nowrap;
    }

    #results td.string {
      white-space: nowrap;
    }

    /* Force the column to be a specific width. */
    #results th.text span,
    #results td.text div.text,
    #results td.text div.partial,
    #results td.text div.full,
    #results th.text {
      width: 350px;
    }

    #results th.text span {
      display: block;
    }

    #results td.text div.text {
      word-wrap: break-word;
    }

    #results td.text div.full {
      display: none;
    }

    #results td.null {
      color: #888;
    }

    #results tr.selected td.null {
      color: #DDD;
    }
