
<div id="query" class="clearfix">
  <form action="/query" method="get">
    <textarea name="sql" id="sql"></textarea>

    <div class="submit">
      <input type="submit" value="Query" />
    </div>
  </form>
</div>

<br />

<div id="results">
</div>
