
<div id="tables" class="clearfix">
  <div id="table-filter">
    <input type="search" name="filter" autosave="searchdoc" autocomplete="off" placeholder="Search" id="filter" />
  </div>
  <ul class="clearfix">
  {{#tables}}
    <li>{{to_s}}</li>
  {{/tables}}
  </ul>
</div>

<div id="query" class="clearfix">
  <form action="/query" method="get">
    <textarea name="sql" id="sql"></textarea>

    <div class="submit">
      <button>Clear History</button>
      <input type="submit" value="Query" />
    </div>
  </form>
</div>

<br />

<div id="results">
</div>
