<html>
<head>
  <title>{{title}}</title>

  <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/text.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/base.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.sha1.js"></script>
  <script type="text/javascript" src="/js/qs_score.js"></script>
  <script type="text/javascript" src="/js/hashstack.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
  <script type="text/javascript" src="/js/keylock.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  <div id="content">
    {{{yield}}}
  </div>
</body>
</html>
