<h2>{{table}}</h2>
<table>
  <thead>
    <tr>
      {{#columns}}
        <th>{{name}}</th>
      {{/columns}}
    </tr>
  </thead>
  <tbody>
      {{#rows}}
        <tr>
          {{#cols}}
            <td class="{{type}}">
              {{name}}
            </td>
          {{/cols}}
        </tr>
      {{/rows}}
  </tbody>
</table>
